---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { getEntry } from 'astro:content';
import { ABOUT } from "@consts";
import Link from "@components/Link.astro";

const about = await getEntry('pages', 'about');
if (!about) {
  throw new Error('About page not found in content collection');
}
const { Content } = await about.render();
---

<Layout title={ABOUT.TITLE} description={ABOUT.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <div class="space-y-10">
        <h1 class="animate text-3xl font-semibold text-black dark:text-white">
          About
        </h1>
        <div class="prose dark:prose-invert max-w-none">
          <Content components={{ Link }} />
        </div>
      </div>
    </aside>
  </Container>
</Layout>
