---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { getEntry } from 'astro:content';
import { CLIENTS } from "@consts";
import Link from "@components/Link.astro";

const clients = await getEntry('pages', 'clients');
if (!clients) {
  throw new Error('Clients page not found in content collection');
}
const { Content } = await clients.render();
---

<Layout title={CLIENTS.TITLE} description={CLIENTS.DESCRIPTION}>
  <Container>
    <div data-pagefind-ignore>
      <div class="space-y-10">
        <h1 class="animate text-3xl font-semibold text-black dark:text-white">
          Ethereum Clients
        </h1>
        <article class="animate mb-0">
          <Content components={{ Link }} />
        </article>
      </div>
    </div>
  </Container>
</Layout>
