---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { getEntry } from 'astro:content';
import { DEV_TOOLING } from "@consts";
import Link from "@components/Link.astro";

const devTooling = await getEntry('pages', 'dev-tooling');
if (!devTooling) {
  throw new Error('Dev tooling page not found in content collection');
}
const { Content } = await devTooling.render();
---

<Layout title={DEV_TOOLING.TITLE} description={DEV_TOOLING.DESCRIPTION}>
  <Container>
    <div data-pagefind-ignore>
      <div class="space-y-10">
        <h1 class="animate text-3xl font-semibold text-black dark:text-white">
          Dev Tooling
        </h1>
        <article class="animate mb-0">
          <Content components={{ Link }} />
        </article>
      </div>
    </div>
  </Container>
</Layout>
