---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { RESOURCES } from "@consts";
import Link from "@components/Link.astro";
---

<Layout title={RESOURCES.TITLE} description={RESOURCES.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <div class="space-y-10">
        <h1 class="animate text-3xl font-semibold text-black dark:text-white">
          Resources
        </h1>
        <div class="prose dark:prose-invert max-w-none">
          <ul>
            <li><Link href="/resources/ef-people">Ethereum Foundation people</Link> - EF organization structure and people</li>
            <li><Link href="/resources/clients">Ethereum clients</Link> - Execution layer and consensus layer clients</li>
          </ul>
        </div>
      </div>
    </aside>
  </Container>
</Layout>
