---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { getEntry } from 'astro:content';
import { NEWS_SOURCES } from "@consts";
import Link from "@components/Link.astro";

const newsSources = await getEntry('pages', 'news-sources');
if (!newsSources) {
  throw new Error('News sources page not found in content collection');
}
const { Content } = await newsSources.render();
---

<Layout title={NEWS_SOURCES.TITLE} description={NEWS_SOURCES.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <div class="space-y-10">
        <h1 class="animate text-3xl font-semibold text-black dark:text-white">
          Additional Ethereum news sources
        </h1>
        <article class="animate mb-0">
          <Content components={{ Link }} />
        </article>
      </div>
    </aside>
  </Container>
</Layout>
