---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import HamburgerMenu from "@components/HamburgerMenu.astro";
import { SITE } from "@consts";
---

<header transition:persist>
  <Container>
    <div class="flex flex-wrap justify-between gap-y-2">
      <Link href="/" underline={false}>
        <div class="font-semibold">
          {SITE.TITLE}
        </div>
      </Link>
      <nav class="hidden items-center gap-1 text-sm md:flex">
        <Link href="/archive">archive</Link>
        <span>
          {`|`}
        </span>
        <Link href="/calendar">calendar</Link>
        <span>
          {`|`}
        </span>
        <Link href="/about">about</Link>
      </nav>
      <div class="md:hidden">
        <HamburgerMenu />
      </div>
    </div>
  </Container>
</header>
